/* PHONE media queries */

/* ------- Mobile PORTRAIT Large-------- */
@media only screen and (max-width: 599px) and (orientation: portrait){
  #portfolio-footer {
    width:40%;
    margin-left: 30%;
    margin-right: 30%
  }
  .circles-container{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .logo {
    width: 26vw;
    margin: 22px 20px 20px 20px;
  }
  .social-media {
    width: 40%;
  }
  .leftDesc{
    width: 100%;
  }
  .rightDesc {
    display: none;
  }
  .rightDescMobile{
    display: block;
    padding: 3% 10% 5% 12%;
  }
  .desktop-image{
    display: none;
  }
  .img-mobile-div{
    width:100%;
    display: block;
  }
  .img-mobile{
    width: inherit;
  }

  /* ------- FOOTER Landscape --------*/
  .prev {
    margin-left: 5vw;
  }
  .based {
    margin-left: 3vw;
    display: none;
  }
  .social-media {
    width: 38%;
    margin: 0 auto;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
  }
  .hire-me {
    display:none;
  }
  .next {
    margin-right: 5vw;
  }
  .next-img {
    width: 9vw;
    margin-top: 1.5vw;
  }
  .prev-img{
    width: 9vw;
    margin-top: 1.5vw;
  }
  .arrow-text{
    display: none;
  }
  .footer{
    margin-bottom: 0px; 
  }

  /* ----- Libreo -----*/
  .desktop-image{
    display: none;
  }
  #logo-libreo {
    margin-top: 41vh;
    width:62%;
  }
  /* ---- SOEL ---- */
  #logo-soel {
    width: 75%;
  }
}


/* ---------- LANDSCAPE LARGE ---------- */
@media only screen and (max-height: 599px) and (orientation: landscape){
  /* INDEX */
  #portfolio-title {
    font-size: 1em;
  }
  #orange {
    margin-top: 29vh;
  }
  .circles-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .circles {
    width: 24%;
    padding: 0.15rem;
  }
  #portfolio-title {
    font-size: 1.25em;
  }
  #portfolio-footer {
    width: 23%;
    margin-left: 38.5%;
    margin-right: 38.5%;
  }
  .footer{
    margin-bottom: 0px;
  }

  /* ---------- PROJECT PAGES ----------*/
  .logo {
    width: 26vh;
    margin: 22px 20px 20px 20px;
  }

  img.menu-items {
    width: 60%;
    padding-top: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: .25em;
  }
  .side-nav li>a {
    height: 2.2rem;
    font-size: .8em;
  }
  .side-nav .user-view {
    margin-bottom: 0px;
  }
  .leftDesc {
    width: 100%;
  }
  .rightDesc {
    display: none;
  }
  .rightDescMobile{
    display: block;
    padding: 3% 10% 5% 12%;
  }
  

  /*-------- FOOTER Mobile Landscape BIG -------- */
  .prev {
    margin-left: 5vw;
  }
  .based {
    margin-left: 3vw;
    display: none;
  }
  .social-media {
    width: 23%;
    margin: 0 auto;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
  }
  .hire-me {
    display:none;
  }
  .next {
    margin-right: 5vw;
  }
  .next-img {
    width: 4vw;
  }
  .prev-img {
    width: 4vw;
  }
}

/* ------ Mobile Landscape SMALL -----*/
@media only screen and (max-height: 330px) and (orientation: landscape){
  img.menu-items {
    padding-top: 1.9rem;
    width: 56%
  }
  .side-nav li>a {
    height: 2rem;
    font-size: .7em;
  }
  .side-nav{
    width: 260px;
  }
}
/* ------ Mobile Portrait SMALL -----*/
@media only screen and (max-width: 330px) and (orientation: portrait){

.social-media {
    width: 40%;
  }
  p {
    font-size: 1em;
  }
  b{
    font-size: 1.05em;
  }
  h3 {
    font-size: 2em;
  }
/*  .leftDesc{
    width: 100%;
  }
  .rightDesc {
    display: none;
  }
  .rightDescMobile{
    display: block;
    padding: 3% 10% 5% 12%;
  }*/
/*  html {
    color:pink;
  }*/
}
/* ------ Mobile Portrait MEDIUM ---- */
@media only screen and (min-width: 400px) and (orientation:portrait){
  p {
    font-size: 1.15em;
  }
  b{
    font-size: 1.05em;
  }
  h3 {
    font-size: 2em;
  }
/*  html {
    color:pink;
  }*/
}

/* ------ Mobile Landscape MEDIUM ------- */
@media only screen and (min-height: 400px) and (orientation: landscape){
  .side-nav li>a {
    height: 2.1rem;
    font-size: 1em;
  }
  img.menu-items {
    width: 65%;
    padding-top: 3rem;
    margin-top: 0px;
    margin-bottom: 1em;
    padding-bottom: .25em;
  }
}

/* ---------- Libreo LANDSCAPE ---------- */
@media only screen and (max-height: 599px) and (orientation: landscape){


}

