/* PHONE media queries */

/* ------- PORTRAIT -------- */
@media only screen and (max-width: 599px) and (orientation: portrait){
  #portfolio-footer {
    width:40%;
    margin-left: 30%;
    margin-right: 30%
  }

  .circles-container{
    margin-left: 3rem;
    margin-right: 3rem;
  }
}


/* ---------- LANDSCAPE ---------- */
@media only screen and (max-height: 599px) and (orientation: landscape){
  #portfolio-title {
    font-size: 1em;
  }
  #orange {
    margin-top: 29vh;
  }
  .circles-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .circles {
    width: 24%;
    padding: 0.15rem;
  }
  #portfolio-title {
    font-size: 1.25em;
  }
  #portfolio-footer {
    width: 23%;
    margin-left: 38.5%;
    margin-right: 38.5%;
  }
/*  html {
    background-color: pink;
  }*/
  .footer{
    margin-bottom: 0px;
  }

}