/* PHONE media queries */

/* ------- Mobile PORTRAIT Large-------- */
@media only screen and (max-width: 599px) and (orientation: portrait){
  .container{
    width: 80%;
    padding-top: 1rem;
  }
  #portfolio-footer {
    width:40%;
    margin-left: 30%;
    margin-right: 30%
  }
  .circles-container{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .logo {
    width: 26vw;
    margin: 22px 20px 20px 20px;
  }
  .social-media {
    width: 40%;
  }
  .leftDesc{
    width: 100%;
  }
  .rightDesc {
    display: none;
  }
  .rightDescMobile{
    display: block;
    padding: 3% 10% 5% 12%;
  }
  .desktop-image{
    display: none;
  }
  .img-mobile-div{
    width:100%;
    height:99vw;
    display: block;
    /*overflow-right:hidden ;*/
  }
  .img-mobile-wildfire{
    height: auto;
    background-color: white;
    /*padding: 1em;*/
    display: block;
    padding-bottom: 2em;
  }
  .img-mobile{
    width: inherit;
    float: left;
  }
  #img-mobile-JM{
    height:inherit;
  }
  #social-media-about{
    width:36vw;
  }
  .hamburger{
    width: 4.5vw;
  }
  .mobile-text-block{
    height: inherit;
    color:white;
    text-align: center;
    margin:0 auto;
    padding: 28%;
    font-size: 2.25em;
  }


  /* ------- FOOTER Portrait --------*/
  .prev {
    margin-left: 5vw;
  }
  .based {
    margin-left: 3vw;
    display: none;
  }
  .social-media {
    width: 38%;
    margin: 0 auto;
    display: block;
    position: absolute;
    right: -3px;
    left: 0;
  }
  .hire-me {
    display:none;
  }
  .next {
    margin-right: 5vw;
  }
  .next-img {
    width: 9vw;
    margin-top: 1.5vw;
  }
  .prev-img{
    width: 9vw;
    margin-top: 1.5vw;
  }
  .arrow-text{
    display: none;
  }
  .footer{
    margin-bottom: 10px; 
  }


  /* ----- Libreo -----*/
  #logo-libreo {
    margin-top: 41vh;
    width:62%;
  }
  #follow{
    background-color: #3b102c;
  }
  #homepage-libreo {
    background-image: url(../images/libreo/head-m.jpg);
  }
  /* ---- SOEL ---- */
  #logo-soel {
    width: 75%;
  }
  #mobile-tray{
    height: 100vw;
  }
  #homepage-soel {
    background-image: url(../images/soel/head-mobile.jpg);
  }
  /* ----- IK-----*/
  #logo-ik{
    margin-top: 46vh;
    width:75vw;
  }
  #homepage-IK {
    background-image: url(../images/Agile/head-m.jpg);
  }
  /*---outdoorsy---*/
  #logo-outdoorsy{
    margin-top: 35vh;
    left: 0px;
    right: 20px;
    width: 55vw;
  }
  #homepage-outdoorsy {
    background-image: url(../images/Outdoorsy/head_600.jpg);
  }

  .bike{
    height:100vw;
    overflow-y: hidden;
  }
  #johnmuir{
    height: 118vw;
  }
  #johnmuir-M {
    padding-top: 2%;
    height: 100vw;
    display: block;
    background-color: #29394F;
    color:white;
  }
  #johnmuir-M2 {
    height: 12em;
  }
  .lineh2 {
    font-size: 1.25em;
  }
  .container-JM {
    margin:9%;
    margin-top: 26%;
  }
  .subtitle {
    font-size: 1em;
  }

  /*-- wildflower collection---*/
  .product-m{
    padding:2em;
  }
  .productphotography{
    margin-top: 14vh;
    text-align: center;
    margin-right: 0;
    font-size: 2.5em;
  }
  .homepage {
    width: 100vw;
    overflow-x: hidden;
  }
  #logo-wildflower{
    margin-top: 40vh;
    width: 65vw;
  }
  #homepage-Wildflower {
    background-image: url(../images/wildflower/head_m.jpg);
  }
  .div-PP{
    height:15rem;
  }
  .productphotography{
    font-size: 3em;
    margin-top: 10vh;
  }
  /*--- Art Crit ---*/
  #logo-AC{
    width: 75vw;
  }
  .container-AC {
    margin-top: 13vh;
  }
  #homepage-art {
    background-image: url(../images/art_crit/marble-m.jpg);
  }
  /*-- about ---*/
  .about-div{
    font-size: 1em;
    /*background-color: pink;*/

    float: none;
    width:100%;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*padding: 20px;*/
    /*margin-top: 24vh;*/
    /*padding-left: 16vh;*/
    /*padding-right: 16vh;*/
  }
  .profilepic{
    height: inherit;
  }
  /*---wildfire---*/
  .mapping{
    margin-top: 1rem;
    margin-bottom:1rem;
  }
  .mapping-div{
    margin-top: 0;
  }
  #googleTwitter {
    margin-left: 2em;
  }
  .red-p{
    text-align: center;
  }
  .red-h3{
    text-align: center;
  }
  #trending{
    margin: 10%;
  }
  #wildfire-logo{
    margin-top: 40vh;
    width:75vw;
  }
}


/* ========= LANDSCAPE LARGE ========= */
@media only screen and (max-height: 599px) and (orientation: landscape){
  /* INDEX */
  #portfolio-title {
    font-size: 1em;
  }
  #orange {
    margin-top: 29vh;
  }
  .circles-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .circles {
    width: 24%;
    padding: 0.15rem;
  }
  #portfolio-title {
    font-size: 1.25em;
  }
  #portfolio-footer {
    width: 23%;
    margin-left: 38.5%;
    margin-right: 38.5%;
  }
  .footer{
    margin-bottom: 0px;
  }

  /* ---------- PROJECT PAGES ----------*/
  .desktop-image{
    display: none;
  }
  .logo {
    width: 26vh;
    margin: 22px 20px 20px 20px;
  }

  img.menu-items {
    width: 60%;
    padding-top: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: .25em;
  }
  .side-nav li>a {
    height: 2.2rem;
    font-size: .8em;
  }
  .side-nav .user-view {
    margin-bottom: 0px;
  }
  .leftDesc {
    width: 100%;
  }
  .rightDesc {
    display: none;
  }
  .rightDescMobile{
    display: block;
    padding: 3% 10% 5% 12%;
  }
  .rightDescMobile-w{
    padding:0px;
  }
  

  /*-------- FOOTER Mobile Landscape BIG -------- */
  .prev {
    margin-left: 5vw;
  }
  .based {
    margin-left: 3vw;
    display: none;
  }
  .social-media {
    width: 23%;
    margin: 0 auto;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
  }
  .hire-me {
    display:none;
  }
  .next {
    margin-right: 5vw;
  }
  .next-img {
    width: 4vw;
  }
  .prev-img {
    width: 4vw;
  }
  .footer{
    margin-bottom: 10px; 
  }

  /* ----- IK --- */
  #logo-ik {
    margin-top:43vh;
    width:45vw;
  }
  /*--- wildflower -- */
  .desktop-img {
    display: none;
  }
  .product-img{
    /*height: 100vh;*/
    width: inherit;
    height: auto;
  }
  .productphotography {
    margin-right: 19vw;
  }
  .thirdRightDiv {
    height:auto; 
  }
  /*---about----*/
  .about-div{
    margin-top: 15vh;
  }
  .about-text {
    font-size: .85em;
  }
  .button{
    padding: .5rem 1rem;
  }
  #social-media-about{
    width: 20vw;
    margin-top: 2rem;
  }
  .icon{
    width:20%;
  }
  /*---wildfire---*/
  .red-h3{
    font-size: 1.5em;
  }
  .red-p{
    font-size: 1em;
  }
/*  .wildfire-red-div{
    height: 100%;
    margin-bottom: 3vw;
  }*/
  .container-wildfire{
    height: 100vh;
    margin-bottom: 5vh;
  }
}

/* ------ Mobile Landscape SMALL -----*/
@media only screen and (max-height: 330px) and (orientation: landscape){
  img.menu-items {
    padding-top: 1.9rem;
    width: 56%
  }
  .side-nav li>a {
    height: 2rem;
    font-size: .7em;
  }
  .side-nav{
    width: 260px;
  }
  /*---about---*/
  .about-div {
    margin-top: 10vh;
  }
  /*---wildfire--*/
/*  .red-p {
    font-size: 0.8em;
  }*/
/*  #googleTwitter{
    padding: 2em;
  }*/
  .red-p{
    font-size: 1em;
  }
  #trending {
    width: 74%;
    margin-top: 16%;
  }
  .container-wildfire{
    margin-bottom: 5vh;
  }
}
/* ------ Mobile Portrait SMALL -----*/
@media only screen and (max-width: 330px) and (orientation: portrait){
  .social-media {
    width: 40%;
  }
  p {
    font-size: 1em;
  }
  b{
    font-size: 1.05em;
  }
  h3 {
    font-size: 2em;
  }
/*  .side-nav li>a {
    font-size: 1.15em;
  }*/
  /*-- Outdoorsy -- */
  .lineh2 {
    font-size: 1.15em;
  }
  /*-- wildflower collection --*/
  .productphotography {
    font-size: 2.75em;
  }
  /* ---ABOUT --*/
  #social-media-about {
    width: 40vw;
  }
  .about-text {
    font-size: 1.15em;
  }
 /* .red-h3 {
    font-size: 1.25em;
  }*/
}
/* ------ Mobile Portrait MEDIUM ---- */
@media only screen and (min-width: 400px) and (max-width: 600px) (orientation:portrait){
  p {
    font-size: 1.15em;
  }
  b{
    font-size: 1.05em;
  }
  h3 {
    font-size: 2em;
  }
}

/* ------ Mobile Landscape MEDIUM ------- */
@media only screen and (min-height: 400px) and (orientation: landscape){
  .side-nav li>a {
    height: 2.1rem;
    font-size: 1em;
  }
  img.menu-items {
    width: 65%;
    padding-top: 3rem;
    margin-top: 0px;
    margin-bottom: 1em;
    padding-bottom: .25em;
  }
  /*-- about --*/
  .about-text{
    font-size: 1em;
  }
  /*--- wildfire--*/
  #trending{
    margin-top: 30%;
  }
/*  #googleTwitter{
    padding: 3rem;
  }*/
}

/* ---------- Libreo LANDSCAPE ---------- */
@media only screen and (max-height: 599px) and (orientation: landscape){


}

