html, body
{
  font-size: 16px;
  height: 100%;
  background-color: white;
}
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Circular-Medium";
    src: url('../fonts/circular-medium.otf'),
    url('../fonts/circular-medium.otf'); /* IE */
}

@font-face{
    font-family: "Circular-Book";
    src: url('../fonts/circular-book.otf'),
    url('../fonts/circular-book.otf'); /* IE */
}

h3 {
  font-family: 'Circular-Medium';
  font-size: 31px;
}

b {
  font-family: 'Circular-Medium';
}

h4 {
  font-size: 16px;
}

a {
  color:black;
}

body {
  font-family: "Circular-Book";
}

ul {
  list-style-type: none;
}

.lineh2 {
  line-height: 1.4;
}

.subtitle {
  font-family: "Circular-Book";
  font-style: italic;
  font-size: 24px;
}

.logo {
  width: 10vw;
  margin-top: 4vh;
  margin-left: 2vw;
  float: left;
  position: fixed;
}

.hamburger{
  float:right; 
  margin: 20px;
  position: fixed;
  right: 0;  
}

#social-media-about{
  position:inherit;
  margin-left: 0;
  margin-top: 3rem;
  width: 12vw;
}

.button {
  background-color: #E45E16;
  border: none;
  color: white;
  padding: .75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75em !important;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 45px;
  float: left;
}

.name {
  font-family: 'Circular-Medium';
  font-style: normal;
  font-weight: 400;
  font-size:60px;
  padding-top:50px;
  text-align: center;

}

#portfolio-title-container {
  font-size: 4vw; 
  text-align: center; 
  padding-top: 5vh;
  padding-bottom: 3vh;  
}


#portfolio-title {
  font-size: 1.8em;
}

#splash {
  background: #ffffff url("./images/wall1.jpg") no-repeat left top fixed;
  background-size: 100%;

}

.sidebarText {
  padding-left: 35px;
  line-height: 150%;
}

.portfolioPieces {
  /*padding-left: 15px;*/
}

.splash-div {
  height: 100%;
  width: 100vw;
  float: left;
}

.splash-wildfire {
  width:inherit;
}

.portfolioView {
  background-color: grey;
  float:right;
  height:100%;
  /*width:100%;*/
  /*width: auto;*/
  /*position: fixed;*/
}

.pTopDiv {
  margin: 0 auto;
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*background-color: green;*/

    height: 100%;
    position: relative;
    /*transform: translate3d(0px, 0px, 0px);*/
/*    

  height: 80%;*/
}

.title {
  padding-top: 5vh;
}

#title-W {
  padding-left: .5rem;
  margin-bottom: .1em;
  margin-top: 2em;
}

#wildfire-top{
  margin-left: 50px;
}

/* IMAGE */
.portfolioTop {
  display: block;
  /*min-height: 100vh;*/
  /*height:100%;*/
  /*width: inherit;*/
  height: inherit;

  /*position:absolute;*/
  margin: 0 auto;  
  /*height: auto;*/
  /*height:100%;*/
}


#portfolio-wildfire {
  width: 100%;
  height:100%;
  position: absolute;
}


.descripton-div {
  width: 100%;
  background-color: white;
  font-family: 'Circular-Book';
  font-size: 15px;
  padding-bottom: 5vh;
}

#desc-wildfire {
  height: 50%;
}

.description {
  font-family: 'Circular-Book';
  font-size: 15px;
  padding-bottom: 5vh;
}



.leftDesc {
  background-color: white;
  float:left;
  padding:10px;
  padding-bottom: 5%;
  padding-right: 10%;
  width: 75%; 
  padding-left: 12%; 
  padding-top: 3%;
}

.full-width-img{
  width:100%;
}

.half-width-img {
  width:55vw;
  margin: auto;
  display: block;
}

.user-view {
  margin-bottom: 20px;
  background-color: #ffffff !important;
  margin-left: 18px;
  padding: 0 0 0 0 !important;
}

.product-img {
  height: 100%;
}

#wildfire-logo {
  margin: 0 auto;
  display:block;
  position: absolute;
  margin-top: 35vh;
  left: 0;
  right: 0;
  width: 45%;
}

#logo-outdoorsy {
  margin: 0 auto;
  display:block;
  position: absolute;
  margin-top: 35vh;
  left: 0;
  right: 0;
  width: 30%;
}

#logo-wildflower{
  margin: 0 auto;
  display:block;
  position: absolute;
  margin-top: 35vh;
  left: 0;
  right: 0;
  width: 30%;
}


.profilepic {
  float:left;
  width: 50vw;
  height:100vh;
  overflow: hidden;
  background-image: url(../images/profilepic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.homepage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage {
  background-image: url(../images/index/index_2000.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage-outdoorsy {
  background-image: url(../images/Outdoorsy/head4.png);
}

#homepage-soel {
  background-image: url(../images/soel/mg_closeup2.png);
}

#homepage-libreo {
  background-image: url(../images/libreo/head0b.png);
}

#homepage-IK {
  background-image: url(../images/Agile/head2.png);
}

#homepage-Wildflower {
  background-image: url(../images/wildflower/head5.png);
}
#homepage-art {
  background-image: url(../images/art_crit/marble.png);
}

#homepage-Wildfire {
  background-image: url(../images/wildfire/map7.png);
}

#orange {
  margin: auto;
  display: block;
  /*position: absolute;*/
/*  margin-top: 35vh;*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width:45vh;
  margin-top: 35vh;
}

#expand_more {
  color:#e1c8bf; 
  display: block;
  margin: 0 auto;
  width: 10px;
  margin-top: 5vh;    
}

#logo-soel {
  margin: 0 auto;
  display:block;
  position: absolute;
  margin-top: 30vh;
  left: 0;
  right: 0;
  width: 25%;
}

#logo-AC {
  margin: 0 auto;
  display:block;
  position: absolute;
  margin-top: 46vh;
  left: 0;
  right: 0;
  width: 48%;
}

#logo-ik {
  margin: 0 auto;
  display:block;
  position: absolute;
  margin-top: 30vh;
  left: 0;
  right: 0;
  width: 25%;
}

#logo-libreo {
  margin: 0 auto;
  display:block;
  position: absolute;
  margin-top: 45vh;
  left: 0;
  right: 0;
  width: 28%;
}

.img-ik {
  width:80vw;
  margin-left:10vw;
  margin-right: 10vw;
  margin: auto;
  display: block;
}

.leftdescwildfire{
  width: 68%;
}

.img-wildfire {
  width:80vw;
  margin-left:10vw;
  margin-right: 10vw;
  margin-top: 10vw;
  /*margin: auto;*/
  display: block;

  margin-bottom: 7vw;
  float: left;
}

.img-wildfire-m{
  width:80vw;
  margin-left:10vw;
  margin-right: 10vw;
  margin-top: 10vw;
  /*margin: auto;*/
  display: block;
}

.container-AC {
  margin-top:20vh;
  margin-bottom: 10vh;
}

.container-ik {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width:100%;
}


.tray-container {
  height: 120vh;
  overflow: hidden;
}

/* INDIVIDUAL */
#libreo-desc {
  height: 430px !important;
}

#soel-desc {
  height: 360px !important;  
}

.rightDescMobile{
  display: none;
}

.rightDesc-Soel {
  padding-top: 95px;
}

.rightDescMobile-w{
  display:none;
}



.desktop-image{
  display: block;
}
.img-mobile-div{
  display:none;
}
.img-mobile-wildfire{
  display: none;
}


.about-div{
  width: 50vw;
  float: right;
  padding: 20px;
  margin-top: 24vh;
  padding-left: 16vh;
  padding-right: 16vh;
}

.about-text{
  font-size: 1.35em;
}



.rightDesc {
  background-color: white;
  float:right;
  padding-right:15%;
  padding-bottom: 5%
  width: 25%; 
  padding-top: 10%;
}

.rightDesc-W{
  width: 30%;
  background-color: white;
  float:right;
  /*height: 250px;*/
  padding-top: 115px;
  padding-right:15%;
  padding-bottom: 5%
}

.secondImgDiv {
  background-color: teal;
  height: 600px;
  width: 100%;
  float:left;
}

.wildfire-red-div {
  background-color:#f5eae9;
  /*margin-bottom: 10vw;*/
/*  height: inherit;
      height: inherit;*/
}

.container-wildfire{
  height: 30rem;
  margin: 0;
  float: left;
  margin-bottom: 10vh;
}

.videowrapper {
  padding-left:10%;
  position: relative;
  /*margin: 0 auto;*/
}


.secondimg{
  width: 100% !important;

}

.productphotography {
  color:white;
  float: right;
  margin-top: 19vh;
  margin-left: 0 auto;
  margin-right: 32vw;
  font-size: 40px;
}

#video {
  margin: 0 auto;
}

.thirdDiv {

}

.red-h3{
  font-size: 2em;
  color:#8F2E22;
}

.red-p {
  font-size: 1.25em;
  color:#8F2E22;
}

.mapping{
  margin-top: 6rem;
  margin-bottom: 5rem;
}

#googleTwitter{
  margin: 2rem;
  margin-left: 3rem;
}

.thirdRightDiv{
  /*height: 600px;*/
  width: 50vw;
  float:left;
}


.thirdLeftDiv{
  /*height: 600px;*/
  width: 50vw;
  overflow-x: hidden;
  float:right;
}

#johnmuir {
  background-color: #29394F;
  /*padding-top: 25%;*/
  color:white;
}

#johnmuir2 {
  height:inherit;
}

#johnmuir3 {
  margin-bottom: 12px;
}

#johnmuir4 {
  background-color: #4A3A3B;
  /*padding-top: 25%;*/
  color:white;
  margin-bottom: 12px;
}

.container-JM{
  width: 80%;
  margin: 15%;
  margin-top: 20%;
  font-family: "Circular-Book";
}

#container-JM2 {
  width: 60%;
  text-align: center;
  margin-top: 30% !important;
  margin: 0 auto;
}

#wildflower-3L{
  max-width: 100%;
  width:auto;
  height:auto;
  float:left;
}
#wildflower-3R{
  max-width: 100%;
  /*max-height: 500px;*/
  width:auto;
  height:auto;
  float:right;
}

#trending {
  width: 68%;
  margin-top: 23%;
  margin-left: 15px;
}

.tray1 {
  width: 78vw;
  height: inherit;
  float: left;
}

.tray2 {
  width: 22vw;
  float: right;
  height: inherit;
  overflow-x: hidden;
}

.library1 {
  width: 100%;
  /*height: 930;*/
  float: left;
}

.library2 {
  width: 25vw;
  float: right;
  /*height: 930px;*/
  overflow-x: hidden;
  background-color: blue;

}

/* FOOTER */
.prev{
  /*float:left;*/
  margin-left: 10vw;
  position: absolute;
  left: 0;
}

.prev-img {
  width:2vw;
  display:block;
}

.github{
  float:right;
  width:15%;
  margin-left: 10vw;
}

.github-img{
  width:2vw;
  margin: auto;
  display:block;
}

.next {
  /*float:right;*/
  margin-right: 10vw;
  position: absolute;
  right: 0;
}

.next-img {
  width:2vw;
  float:center;
  display:block;
}

.footer {
  background-color: white;
  font-family: "Circular-Book";
  height: 50px;
  width: 100%;
  float: left;
  margin-top: 10px;

  margin-bottom: 10px;
  height: auto; 
}

.footer2 {
  background-color:;
}

.based {
  /*float:left;*/
  position: absolute;
  margin-left:22vw;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Circular-Book";
}

.icon {
  width: 25%;
  margin: .25rem;
}

.social-media {
  margin: 0 auto;
  width: 14vw;
  position: absolute;
  left: 43.5%;
  margin-left: 0%;
  /*background-color: #00ff87;*/
}




.hire-me {
  /*float: left;*/
  position: absolute;
  right: 22%;
  margin-right: 22vw;

  background-color: white;
  color: black;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 3px 10px 3px 10px;
  margin: 10px 0 10px 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footerLeft {
  margin-right: 0px;
  float:left;
  margin-bottom: 10px;
  display: inline-block;

  width: 50%;
  /*background-color: teal;*/
  height: 50px;
}
.circles {
  width: 48%;
  padding: 0.5rem;  
}

#portfolio-footer {
  margin: auto;
  float: none;
  width: 12.5vw;
}

.footerRight {
  margin-left: 0px;
  float: right;
  height: 50px;
  margin-bottom: 10px;
  display: inline-block;

  width: 50%;
  /*background-color: red;*/
  height: 50px;
}

.index-container {
  height: 100%;
  width:100%;
}

@media only screen and (max-width: 990px) {

  .portfolioView {
   background-color: pink;
  }

}



/* -- menu --*/

.menu-items {
  margin-left: 8px;
}

.menu-logo {
  width: 90%;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /*margin: 0 auto;*/
}


