/* TABLET media queries */

/* --------------- PORTRAIT ------------------ */
@media only screen and (min-width: 750px) and (max-width: 1399px) and (orientation: portrait) {
  .circles {
    padding: 1.0rem
  }

  .circles-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  #portfolio-footer {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }

  #expand_more {
    width: 20px;
    font-size: 60px;
  }

  .menu-items {
    font-size: 1.25em !important;
  }

  .leftDesc{
  background-color: white;
  float: left;
  padding: 10px;
  padding-bottom: 5%;
  padding-right: 5%;
  width: 68%;
  padding-left: 10%;
  padding-top: 0%;
  font-size: .85em;
  }
  .rightDesc{
    padding-top: 6em;
  }
  .prev {
    margin-left: 5vw;
    margin-top: 1vw;
  }
  .next {
    margin-right: 5vw;
    margin-top: 1vw;
  }
  .social-media{
    width: 17vw;
    left: 44%;
  }
  .hire-me{
    right: 20%;
  }
  .logo{
    width: 16vw;
    margin-top: 20px;
    margin-left: 20px;
  }
  /*----- Libreo ------- */
  #logo-libreo {
    width: 44%;
  }
  /*----- Soel ---- */
  #logo-soel {
    width: 50%;
  }
  /* ---- IK ----- */
  #logo-ik{
    margin-top: 45vh;
    width: 75vw;
  }
  /*--- AC ---- */
  #logo-AC {
    width: 74vw;
  }
  .container {
    margin-top: 15vh;
  }
  /*----about---*/
  .about-div{
    margin-top: 31vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  #social-media-about{
    width: 18vw;
  }
  .logo{
    padding: .75rem;
  }
  .material-icons{
    padding: .75rem;
  }
  .button{
    font-size: .85em !important;
  }
  /*---wildfire---*/
  #wildfire-logo{
  width: 60%
  }
  #desc-wildfire{
    padding-bottom: 0;
    height: auto;
  }
  .red-p{
    font-size: 1.25em;
  }
  .red-h3{
    font-size: 1.75em;
  }
  #googleTwitter{
    margin-top: 5vh;
    margin-left: 5vw;
    width: -webkit-fill-available;

  }
  .wildfire-red-div{
    /*height:auto;*/
  }

}


/* --------------- LANDSCAPE ------------------ */
@media only screen and (min-width: 750px) and (max-width: 1399px) and (orientation: landscape) {
  .circles-container{
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .leftDesc {
    width:70%;
  }
  .rightDesc{
    padding-top: 8em;
  }
  .img-mobile{
    display: none;
  }
  .prev {
    margin-left: 7vw;
  }
  .next{
    margin-right: 7vw;
  }

  /* ----- Soel-----*/
  .tray-container {
    height: 120vh;
    overflow: hidden;
  }
  .tray2{
    height: inherit;
  }
  #logo-soel{
    width: 30%;
  }
  /* ---- IK -----*/
  #logo-ik{
    margin-top: 44vh;
    width:45vw;
  }
  /*---AC--*/
  #logo-AC{
    width: 74vh;
  }
  .material-icons {
    margin: 1vw;
  }
  /*---wildfire--*/
  #googleTwitter{
    margin-top: -2vh;
    margin-left: 3vw;
  }
  #trending {
    margin-top: 21%;
  }
  .red-p {
    font-size: 1.35em;
  }
}

@media only screen and (min-height: 650px) and (max-height: 900px) and (orientation:landscape){
    /*--- about----*/
  .about-div{
    padding-left: 15vh;
    padding-right: 13vh;
  }
  .about-text {
    font-size: 1.35em;
  }
  #social-media-about{
    width: 14vw;
  }
}

@media only screen and (min-height: 900px) and (max-height: 1100px){
  .about-div{
  font-size: .85em;
  margin-top: 30vh;
  }
}



